# Byte-compiled / cache
__pycache__/
*.py[cod]
*.env
*.venv

# Virtual environments
venv/
env/
.venv/

# IDEs and editors
.vscode/
.idea/

# OS files
.DS_Store

# Python dependencies
*.egg-info/
*.egg

# Logs / data / output
results/
data/
